/* You can add global styles to this file, and also import other style files */
                        /* TODOS ESTOS STYLES SON GLOBALES */
/* style para el footer */
footer {
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}